{% extends "base.html" %}
{% block title %}Jelovnik{% endblock %}
{% block content %}
    <div class="inner-cover" style="background-image: url({{ url_for('static', filename='images/brick-wall-1834784_1920.jpg') }});">
        <div class="container">
            <h1>Jelovnik</h1>
            <h4>SVJEŽA DOMAĆA HRANA, BESKRAJNI RAZGOVORI I NEOPISIVO PUNO SMIJEHA.</h4>
        </div>
    </div>
    <div class="main-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <section class="section-meni">
                        <div class="container text-center mb-5">
                            <h2>Naš jelovnik</h2>
                            <p>Prilikom pripreme svih jela koristimo najkvalitetnije namirnice s kontroliranim porijeklom.</p>
                        </div>
                        <div class="container">
                              <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="pills-hpredjelo" role="tabpanel" aria-labelledby="pills-hpredjelo-tab">
                                    <h2 id="hpredjela" class="mb-4">Nešto za početak</h2>
                                    <div class="meni-item">
                                        <div class="row">
                                            <div class="col-md-8">Dalmatinski pršut (0.10 kg)</div>
                                            <div class="col-md-4 text-md-end">45 Kn</div>
                                        </div>
                                    </div>
                
                                    <div class="meni-item">
                                        <div class="row">
                                            <div class="col-md-8">Ovčji sir</div>
                                            <div class="col-md-4 text-md-end">45 Kn</div>
                                        </div>
                                    </div>
                
                                    <div class="meni-item">
                                        <div class="row">
                                            <div class="col-md-8">Hladni plitica “Zadar” (za 1 osobu)</div>
                                            <div class="col-md-4 text-md-end">85 Kn</div>
                                        </div>
                                    </div>
                
                                    <div class="meni-item">
                                        <div class="row">
                                            <div class="col-md-8">Salata od hobotnice sa slanutkom</div>
                                            <div class="col-md-4 text-md-end">60 Kn</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade show active" id="pills-meso" role="tabpanel" aria-labelledby="pills-meso-tab">
                                    <h2  id="meso" class="mb-4">MESNI SPECIJALITETI</h2>
                                    <div class="meni-item">
                                        <div class="row">
                                            <div class="col-md-8">Dalmatinska pašticada sa njokima</div>
                                            <div class="col-md-4 text-md-end">85.00 </div>
                                        </div>
                                    </div>
                
                                    <div class="meni-item">
                                        <div class="row">
                                            <div class="col-md-8">Biftek na žaru.</div>
                                            <div class="col-md-4 text-md-end">145 Kn</div>
                                        </div>
                                    </div>
                
                                    <div class="meni-item">
                                        <div class="row">
                                            <div class="col-md-8">Biftek u paprenom umaku</div>
                                            <div class="col-md-4 text-md-end">160 Kn</div>
                                        </div>
                                    </div>
                
                                    <div class="meni-item">
                                        <div class="row">
                                            <div class="col-md-8">Dalmatinska pljeskavica</div>
                                            <div class="col-md-4 text-md-end">60 Kn</div>
                                        </div>
                                    </div>
                                </div>
                                <div  id="riba" class="tab-pane fade show active" id="pills-riba" role="tabpanel" aria-labelledby="pills-riba-tab">
                                    <h2 class="mb-4">RIBLJI SPECIJALITETI</h2>
                                    <div class="meni-item">
                                        <div class="row">
                                            <div class="col-md-8">Tuna steak na žaru sa blitvom</div>
                                            <div class="col-md-4 text-md-end">100.00
                                            </div>
                                        </div>
                                    </div>
                
                                    <div class="meni-item">
                                        <div class="row">
                                            <div class="col-md-8">Lignje na žaru sa blitvom
                
                                            </div>
                                            <div class="col-md-4 text-md-end">95 Kn</div>
                                        </div>
                                    </div>
                
                                    <div class="meni-item">
                                        <div class="row">
                                            <div class="col-md-8">Pržene lignje sa prženim krumpirom</div>
                                            <div class="col-md-4 text-md-end">85 Kn</div>
                                        </div>
                                    </div>
                
                                    <div class="meni-item">
                                        <div class="row">
                                            <div class="col-md-8">Grdobina s povrćem na dalmatinski</div>
                                            <div class="col-md-4 text-md-end">115 Kn</div>
                                        </div>
                                    </div>
                                </div>
                              </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
{% endblock %}